<!DOCTYPE html>
<html>

<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- <h1 class="p-3 mb-2 bg-success text-white text-center">iGROW Knowledge Management System</h1> -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
    integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
  <!-- <b>
    <div>
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="{% url 'Home' %}" role="tab"
            aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="sharing-tab" data-bs-toggle="tab" href="{% url 'sharing:MainSharing' %}"
            role="tab" aria-controls="sharing" aria-selected="true">Sharing</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="discussion-tab" data-bs-toggle="tab" href="{% url 'group:MainGroup' %}"
            role="tab" aria-controls="discussion" aria-selected="true">Group</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="friends-tab" data-bs-toggle="tab" href="{% url 'MainMember' %}" role="tab"
            aria-controls="friends" aria-selected="true">Member</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="workshop-tab" data-bs-toggle="tab" href="{% url 'workshop:Workshop' %}"
            role="tab" aria-controls="workshop" aria-selected="true">Workshop</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="{% url 'View' %}" role="tab"
            aria-controls="profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="{% url 'Logout' %}" role="tab"
            aria-controls="logout" aria-selected="true">Logout</a>
        </li>
        </li>
      </ul>
    </div>
  </b> -->

  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4" style="background-color: #8FBC8F;">
        <h4 class="text-white">What are you looking for?</h4>
        <span class="text-muted">Search here...</span>
        <form class="form-inline my-2">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
      
    </div>
    <nav class="navbar navbar-dark bg-success">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  
  <nav class="navbar navbar-expand navbar-dark bg-success">
    <a class="navbar-brand" href="#">P  L  A  N  T  F  E  E  D</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sharing:MainSharing' %}">Sharing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Workshop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'ViewProfile' %}">View Profile<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="{% url 'EditProfile' %}">Edit Profile</a>
          </div>
        </li>
  
      </ul>
      <a class="btn bg-light" href="#">
        <img class="bi bi-arrow-bar-right">LOGOUT</img>
      </a>
    </div>
  </nav>
  <br />
  <br />
  <style>
    .header {
  padding: 2px;
  font-size: 30px;
  text-align: center;
  background: white;
}

.leftcolumn {   
  float: left;
  width: 100%;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }
}

  </style>
</head>

<body>
  <div class="header">
    {% csrf_token %}
    <div class="container my-3 bg-light">
      <label for="exampleFormControlTextarea1" style="font-size: 2em;">{{data.Name}}</label> <br />
      <!-- <label for="exampleFormControlTextarea1" style="font-size: 2em;" >Groud ID: {{data.id}}</label> -->
    </div>
  </div>
  <div class="container">
    <a class="btn btn-primary" href="{% url 'sharing:SharingGroup' data.id %}" role="button" target="_blank">New Sharing</a>
    <!-- <a href="{% url 'sharing:SharingGroup' data.id %}" class="link-primary" target="_blank">New Sharing</a>  -->
  </div>
  <br />
  {% if context_SoilTags %}
  <div class="container">
    <form method="POST" class="container row g-3" action="{% url 'sharing:Sharing_GeneralSoilTag' data.id %}">
      {% csrf_token %}
      <div class="container">
        <label for="inputSoil" class="form-label">Soil Tag : </label><br>
        {% for soilTag in context_SoilTags.SoilTags %}
        <input type="radio" name="SoilTag" value="{{ soilTag.id }}" required>{{ soilTag.SoilTagName }} <br>
        {% endfor %}
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success " value="Filter">Filter</button>
      </div>
    </form>
  </div>
  {% elif context_PlantTags %}

  <div class="container">
    <form method="POST" class="container row g-3" action="{% url 'sharing:Sharing_PlantTag' data.id %}">
      {% csrf_token %}
      <div class="container">
        <label for="inputPlant" class="form-label">Plant Tag : </label><br>
        {% for plantTag in context_PlantTags.PlantTags %}
        <input type="radio" name="PlantTag" value="{{ plantTag.id }}" required>{{ plantTag.PlantTagName }} <br>
        {% endfor %}
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success " value="Filter">Filter</button>
      </div>
    </form>
  </div>
  {% else %}
  <div class="container">
    <h5>Filter Sharing By Tags: </h5>
    <a href="{% url 'sharing:Sharing_GeneralSoilTag' data.id %}" class="link-primary" target="_blank">Enable Soil Tags</a> ||
    <a href="{% url 'sharing:Sharing_PlantTag' data.id %}" class="link-primary" target="_blank">Enable Plant Tags</a>
  </div>
  <form method="POST" class="center">
    {% csrf_token %}
  <div class="container">
  <h5>Filter by Farming Skill Level || State</h5>
          

          <input type="radio" checked="checked"  name="Skill" value="Beginner" required>Beginner <br>
          <input type="radio"   name="Skill" value="Average" required>Average <br>
          <input type="radio"   name="Skill" value="Skilled" required>Skilled<br>
          <input type="radio"   name="Skill" value="Specialist" required>Specialist <br>
          <input type="radio"   name="Skill" value="Expert" required>Expert<br>
        
        
          
          <select id="inputLocation" name="State" required>
              <option selected disabled=true>--select state --</option>
              <option>Johor</option>
              <option>Kedah</option>
              <option>Kelantan</option>
              <option >Melaka</option>
              <option >Negeri Sembilan</option>
              <option >Pahang</option>
              <option >Pulau Pinang</option>
              <option>Perak</option>
              <option >Perlis</option>
              <option >Sabah</option>
              <option >Sarawak</option>
              <option >Selangor</option>
              <option >Terengganu</option>
              <option >W.P. Kuala Lumpur</option>
            </select>
            &nbsp;&nbsp; <br><br>
            <button type="submit" class="btn btn-success " value="Filter">Filter</button>
            <br>
            <br>
          </div>
          </form>
  {% endif %}


  {% for feed in feed reversed %}
  <div class="container">
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          {% csrf_token %}

          <h1>{{feed.Title}}</h1>
          <h4><i>By {{feed.Creator.Name}}</i></h4>
          <h9>Farming Skill: {{feed.Skill}}</h9>
          <h9>Location: {{feed.State}}</h9>
          <h9>{{feed.created_at}}</h9>

          <br />
          <p><b>{{feed.Message}}</b></p>
          {% if feed.Photo %}
          <img style="border: 1px solid black;" src="{{MEDIA_URL}}/{{feed.Photo}}" width="300" height="300" alt="pic" />
          <br>
          {% endif %}
          {% if feed.Video %}
          <video width="500px" height="500px" controls style="border: 1px solid black;">
            <source src="{{MEDIA_URL}}/{{feed.Video}}" type="video/mp4">
          </video>
          <br>
          {% endif %}
          {% if feed.soilTagging.all %}
          <i>Soil Tagging:</i>
          <i>
            {% for soilTags in feed.soilTagging.all %}
            {{soilTags.soilTag.SoilTagName}} {% if not forloop.last %},{% endif %}
            {% endfor %}
          </i>
          {% endif %}

          {% if feed.plantTagging.all %}
          <i>Plant Tagging:</i>
          <i>
            {% for plantTags in feed.plantTagging.all %}
            {{plantTags.plantTag.PlantTagName}} {% if not forloop.last %},{% endif %}
            {% endfor %}
          </i>
          {% endif %}

          {% if feed.Creator.Email == request.session.Email %}
          <br>
          <div>
            <a href="{% url 'sharing:UpdateSharing' feed.id %}" class="card-link">Edit</a>
            <a href="{% url 'sharing:DeleteSharing' feed.id %}" class="card-link">Delete</a>
          </div>
          
          {% endif %}

          <br />
          <hr>
          <h5>Comments...</h5>
          <br />
          {% if not feed.comments.all %}
          No comments Yet...
          <br />
          <div class="col-12">
          <a class="btn btn-info btn-sm" href="{% url 'sharing:AddComment' feed.id %}" role="button">Add Comment</a>
        </div>
          <!-- <a href="{% url 'sharing:AddComment' feed.id %}">Add Comment</a> -->

          {% else %}
          <div class="col-12">
          <a class="btn btn-info btn-sm" href="{% url 'sharing:AddComment' feed.id %}" role="button">Add Comment</a>
        </div>
          <!-- <a href="{% url 'sharing:AddComment' feed.id %}">Add Comment</a> -->
          <br />
          {% for comment in feed.comments.all %}
          <b>{{ comment.Commenter.Name }}</b>
          {{ comment.Message }}
          {% if comment.Pictures %}
          <img style="border: 1px solid black;" src="{{MEDIA_URL}}/{{comment.Pictures}}" width="300" height="300"
            alt="pic" />
          <br>
          {% endif %}
          {% if comment.Video %}
          <video width="500px" height="500px" controls style="border: 1px solid black;">
            <source src="{{MEDIA_URL}}/{{comment.Video}}" type="video/mp4">
          </video>
          <br>
          {% endif %}
          {% if request.session.Email == comment.Commenter.Email %}
          <div>
            <a href="{% url 'sharing:UpdateComment' comment.id %}" class="card-link">Edit</a>
            <a href="{% url 'sharing:DeleteComment' comment.id %}" class="card-link">Delete</a>
          </div>
        
          {% endif %}
          <br />
          <hr>
          <br />

          {% endfor %}


          {% endif %}


        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <br /><br />

</body>

</html>